@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Context.Session.GetString("UserName")</h1>
    <p>This solution is developed in MVC using Session</p>
</div>
